.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mySlides {
  height: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.next {
  right: 5%;
}

.prev {
  left: 5%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
