@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");

:root {
  --primary-color: #0353a4;
  --secondary-color: #003559;
  --dark-color: #061a40;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --error-light: #fff6f6;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/*NAVIGATION*/

.navigation .flex {
  justify-content: space-between;
}

.navigation .container i {
  color: var(--primary-color);
}

.navigation .container nav a {
  padding: 10px 0;
  margin: 0 20px;
  text-transform: uppercase;
}

.navigation .container nav a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.navigation nav ul {
  display: flex;
}

.navigation .menu-btn {
  display: none;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  text-align: center;
}

.mobile-nav nav li {
  padding-bottom: 5px;
}

.mobile-nav nav a {
  font-size: 20px;
}

.open {
  display: block;
}

/*SHOWCASE*/

.showcase {
  height: 600px;
}

.showcase .container {
  border-radius: 15px;
  background: linear-gradient(
      to bottom,
      rgba(17, 0, 163, 0.623),
      rgba(85, 4, 95, 0.5)
    ),
    url("../images/showcase-bg.jpg") no-repeat center center/cover;
}

.showcase .flex {
  justify-content: flex-start;
}

.showcase .container .showcase-text {
  width: 50%;
  color: #fff;
}

/* About section*/

.about .grid {
  justify-content: space-between;
  grid-gap: 40px;
  padding: 0;
}

.about .container .about-img img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/*Card*/
.properties .container {
  padding: 0;
}

.properties .container .card {
  margin: 0;
  padding: 10px;
}

.properties .container .card img {
  border-radius: 5px;
}

.properties .grid {
  grid-gap: 50px;
}

.services .container .servicesCards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 40px;
}

.services .container .servicesCards .serviceCard {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.services .container .servicesCards .serviceCard .content {
  height: 100%;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.services .container .servicesCards .serviceCard .content .img-wrapper {
  max-width: 250px;
}

.fa-sink {
  margin-left: 10px;
}

.footer {
  margin-top: 2rem;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.footer p {
  padding: 0;
  margin: 0;
}

.footer h3 {
  padding-bottom: 15px;
}

.footer i:nth-child(2) {
  padding: 0 5px;
}

.footer .copyright {
  padding: 1rem 0;
}

/* filter properties */
.filter-container {
  position: relative;
  width: 300px;
}

.bg-filter .container {
  background: linear-gradient(
      to bottom,
      rgba(17, 0, 163, 0.623),
      rgba(85, 4, 95, 0.5)
    ),
    url("../images/filter.jpeg") no-repeat center center/cover;
}

#contactSeller {
  width: 100%;
}
